html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
  color: #F9F9F9;
  background: #2C2C2C;
}

a {
  color: #B9B9B9;
  text-decoration: none;
}

.mainheader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #525286;
  color: #F9F9F9;
  margin-bottom: 50px;
}

.mainfooter {
  clear: both;
  position: relative;
  left: 0;
  bottom: 0 !important;
  width: 100%;
  height: 80px;
  background: #1A1A1A;
  color: #F9F9F9;
  margin-top: 5%;
}

.container {
  width: 60%;
  margin: auto;
  background: #333333;
  border-radius: 4px;
  border: 1px solid #1A1A1A;
}

.container-nostyle {
    width: 50%;
    margin: auto;
}

.container-model1 {
    width: 70%;
    margin: auto;
}

.manager-explanation {
  margin: 1% 1%;
}

.formcontainer {
  width: 30%;
  margin: auto;
  padding: 1% 0% 3% 0%;
}

.listarea {
  width: 80%;
  margin: auto;
  padding: 1% 0% 3% 0%;
}

.textarea {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  background-color: #424242;
  border: 1px solid #494949;
  border-radius: 2px;
  color: #B9B9B9;
}

.textarea:focus {
  border: 1px solid #6A6A6A;
}

.line {
  margin-top: 3%;
  color: #F9F9F9;
}

.lineLabel {
  margin-bottom: 2%;
  color: #B9B9B9;
}

.button {
  border: 1px solid #494949;
  border-radius: 2px;
  background-color: #424242;
  color: #B9B9B9;
  margin-top: 8%;
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 20px
}

.button:active {
  border: 1px solid #6A6A6A;
}

.entry {
   width: 90%;
   height: 10%;
   border: 1px solid red;
   border-radius: 2px;
   padding: 1% 1% 1% 2%;
   margin: 1% auto 1% auto;
}

.trline {
  background: #333333;
  border: 1px solid #1A1A1A;
  color: #B9B9B9;
  border-radius: 2px;
}

.tropen {
  width: 5px !important;
  background: #8E8E8E;
  border: 1px solid #AAAAAA;
  /* background: #A0FFB0;
  border: 1px solid #63FF7D;
  color: #2C2C2C; */
  border-radius: 2px;
}

.trclosed {
  width: 5px !important;
  background: #333333;
  border: 1px solid #1A1A1A;
  /* background: #333333;
  border: 1px solid #1A1A1A; */
  color: #B9B9B9;
  border-radius: 2px;
}

.trclosed a {
  color: #B9B9B9;
}

.trurgent {
  width: 5px !important;
  background: #FF7E7E;
  border: 1px solid #FF5A5A;
  /* background: #FFF8A9;
  border: 1px solid #FFF14C;
  color: #2C2C2C; */
  border-radius: 2px;
}

.trurgent a {
  color: #2C2C2C;
}

.navbar {
   max-width: 60% !important;
   max-height: 10% !important;
   background: #333333;
   border: 1px solid #1A1A1A;
   border-radius: 2px;
   margin: 1% auto 1% auto;
}

.navbaritem {
  padding: 1% 2.5% 1% 2%;
  display: inline-flex;
  background: #333333;
  border-right: 1px solid #1A1A1A;
  color: #B9B9B9;
  text-align: center;
}

.options {
  margin: 1% auto 1% auto;
}

.mopt-left {
  display: inline-flex;
  background: #333333;
  border: 1px solid #1A1A1A;
  border-radius: 2px;
  padding: .25% .75%;
}

.mopt-left:active {
  border: 1px solid #6A6A6A;
}

.mopt-right {
  display: inline-flex;
  background: #333333;
  border: 1px solid #1A1A1A;
  border-radius: 2px;
  padding: .25% .75%;
}

.mopt-right:active {
  border: 1px solid #6A6A6A;
}

.colorexplanation {
  width: 10px;
  height: 10px;
  border: 1px solid #494949;
  display: inline-flex;
  align-items: center;
}

.space {
  margin-right: 1%;
}

.tdWithSpace {
  padding-left: 1%;
}

.company-name {
  width: 200px;
}

.m-entrydate {
  width: 205px;
}

.mopt-box {
  width: 35px;
}

.entity-name {
  width: 250px;
}

.entity-email {
  width: 350px;
}

.entity-phone {
  width: 170px;
}
