.table {
	color: #363636 !important;
	border-radius: 2px !important;
}

.table td,
.table th {
	border: 1px solid #1C1C1C !important;
	vertical-align: top !important;
	/* background: #424242; */
	color: #D9D9D9 !important;
}

.table thead td,
.table thead th {
	color: #292929 !important;
}

.input,
.select select,
.textarea {
	/* background-color: #363636 !important; */
	color: #191919 !important;
}

.input[disabled],
.select fieldset[disabled] select,
.select select[disabled],
.textarea[disabled],
fieldset[disabled] .input,
fieldset[disabled] .select select,
fieldset[disabled] .textarea {
	/* background-color: #363636 !important; */
	color: #191919 !important
}

.label {
	color: #191919 !important;
}

.menu-list a {
	color: #191919 !important;
}

.modal-card-foot,
.modal-card-head {
	/* background-color: #2c2c2c !important; */
}

.modal-card-head {
	border-bottom: 1px solid #1A1A1A !important;
}

.modal-card-title {
	color: #191919 !important;
}

.modal-card-foot {
	border-top: 1px solid #1A1A1A !important
}

.modal-card-body {
	/* background-color: #2c2c2c !important; */
	padding: 20px !important;
	color: #191919 !important;
}

.footer {
	background-color: #00c4a0 !important;
	color: #191919 !important;
}

.button_text_fix {
  margin-bottom: 5% !important;
}

.navbar.is-light {
	background-color: rgba(249,249,249,0.9) !important;
}
