

html {
	background: #E6E6E6 !important;
	color: #191919;
}

a {
	color: #1373E4;
}

.cSpaceSmall {
	margin: 1%;
	color: #191919;
}

.colorexplanation {
	width: 10px;
	height: 10px;
	border: 1px solid #494949;
	display: inline-flex;
	align-items: center;
}

table a {
	color: #1373E4;
}

table a:hover {
	color: #5399EC;
}

.trline0 a {
	color: #898989 !important;
}

.trline0 td,th {
	color: #898989 !important;
}

.trline1 td,th {
	color: #191919 !important;
}

.trline2 td,th {
	color: #191919 !important;
}

.manager_options_label {
	color: #191919;
}

.ent_th_title {
	border-bottom: 1px solid #A9A9A9;
}

.ent_td_title {
	border-bottom: 1px solid #A9A9A9;
}
