.window {
    max-width: 650px;
    font-family: 'Arial', sans-serif;
    background: #c0c0c0;
    border: 1px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: #000;
    border-bottom-color: #000;
    margin: 10% 0% 0% 10%;
}
