.cSpaceAfterHeaderTable {
	margin-top: 2%;
}

.cSpaceAfterHeaderMenu {
	margin-top: 10%;
}

.cSpaceAfterHeaderLogin {
	margin-top: 5%;
}

.notifications_container {
	margin-top: 5%;
}

.mopt-left {
	width: 35px;
}

.company-name {
	width: 200px !important;
}

.m-entrydate {
	width: 11% !important;
	text-align: center !important;
}

.mopt-box {
	width: 40px;
	text-align: center !important;
}

.mopt-status {
	width: 10px !important;
}

.entity-email {
	width: 350px;
}

.entity-phone {
	width: 170px;
}

.nfe-todo-box {
	width: 150px !important;
  text-align: center !important;
}


.cexpspace {
	margin-right: 1%;
}

.manager_options {
	margin: 1%;
}


.mopte-first {
	padding-left: 6.25%;
}

.mopte-second {
	padding-left: 10.25%;
}

.txtalgncenter {
	text-align: center !important;
}

.main_searchbar {
	margin: 5% 0% 0% 0%;
}

.manager_pagination {
	margin-top: 2%;
}

.footer {
	position: relative !important;
	clear: both !important;
	margin-top: 15.6% !important;
}

.trstatus0 {
	background: #292929 !important;
}

.trstatus1 {
	background: #D9D9D9 !important;
}

.trstatus2 {
	background: #FF3860 !important;
}

.trstsped0 { /* Enviado */
	background: #292929 !important;
}

.trstsped1 { /* Pendente */
	background: #D9D9D9 !important;
}

.trstsped2 { /* Em Progresso */
	background: #9DFF61 !important;
}

.trstsped3 { /* Erro */
	background: #FFAC29 !important;
}

.trstsped4 { /* Urgente */
	background: #FF3860 !important;
}

.trstsped5 { /* Urgente + Erro */
	background: #2F75B5 !important;
}

.trline0 {
	color: #898989 !important;
}

.statusfirstdiv {
	float: left;
	width: 40%;
}
